In [1]:
import numpy as np
import pandas as pd

In [3]:
f = open('data_impurities.csv',encoding  = 'UTF-8')
df = pd.read_csv(f,index_col = 0)
df

      Fe    Co    Ni    Cu    Ru    Rh    Pd    Ag    Ir    Pt    Au
Fe -0.92  0.05 -0.20 -0.13 -0.29 -0.54 -1.24 -0.83 -0.36 -1.09 -1.42
Co  0.01 -1.17 -0.28 -0.16 -0.24 -0.58 -1.37 -0.91 -0.36 -1.19 -1.56
Ni  0.09  0.19 -1.29  0.19 -0.14 -0.31 -0.97 -0.53 -0.14 -0.80 -1.13
Cu  0.56  0.60  0.27 -2.67  0.58  0.32 -0.64 -0.70  0.58 -0.33 -1.09
Ru  0.21  0.26  0.01  0.12 -1.41 -0.17 -0.82 -0.27  0.02 -0.62 -0.84
Rh  0.24  0.34  0.16  0.44  0.04 -1.73 -0.54  0.07  0.17 -0.35 -0.49
Pd  0.37  0.54  0.50  0.94  0.24  0.36 -1.83  0.59  0.53  0.19  0.17
Ag  0.72  0.84  0.67  0.47  0.84  0.86  0.14 -4.30  1.14  0.50 -0.15
Ir  0.21  0.27  0.05  0.21  0.09 -0.15 -0.73 -0.13 -2.11 -0.56 -0.74
Pt  0.33  0.48  0.40  0.72  0.14  0.23 -0.17  0.44  0.38 -2.25 -0.05
Au  0.63  0.77  0.63  0.55  0.70  0.75  0.17  0.21  0.98  0.46 -3.56

In [5]:
df.loc['Co','Ni']

-0.28

In [6]:
df.loc['Co']

Fe    0.01
Co   -1.17
Ni   -0.28
Cu   -0.16
Ru   -0.24
Rh   -0.58
Pd   -1.37
Ag   -0.91
Ir   -0.36
Pt   -1.19
Au   -1.56
Name: Co, dtype: float64

In [9]:
for i in df.index:
    for j in df.columns:
        if i != j:
           df.loc[i,j] += df.loc[i,i]
        
df

      Fe    Co    Ni    Cu    Ru    Rh    Pd    Ag    Ir    Pt    Au
Fe -0.92 -0.87 -1.12 -1.05 -1.21 -1.46 -2.16 -1.75 -1.28 -2.01 -2.34
Co -1.16 -1.17 -1.45 -1.33 -1.41 -1.75 -2.54 -2.08 -1.53 -2.36 -2.73
Ni -1.20 -1.10 -1.29 -1.10 -1.43 -1.60 -2.26 -1.82 -1.43 -2.09 -2.42
Cu -2.11 -2.07 -2.40 -2.67 -2.09 -2.35 -3.31 -3.37 -2.09 -3.00 -3.76
Ru -1.20 -1.15 -1.40 -1.29 -1.41 -1.58 -2.23 -1.68 -1.39 -2.03 -2.25
Rh -1.49 -1.39 -1.57 -1.29 -1.69 -1.73 -2.27 -1.66 -1.56 -2.08 -2.22
Pd -1.46 -1.29 -1.33 -0.89 -1.59 -1.47 -1.83 -1.24 -1.30 -1.64 -1.66
Ag -3.58 -3.46 -3.63 -3.83 -3.46 -3.44 -4.16 -4.30 -3.16 -3.80 -4.45
Ir -1.90 -1.84 -2.06 -1.90 -2.02 -2.26 -2.84 -2.24 -2.11 -2.67 -2.85
Pt -1.92 -1.77 -1.85 -1.53 -2.11 -2.02 -2.42 -1.81 -1.87 -2.25 -2.30
Au -2.93 -2.79 -2.93 -3.01 -2.86 -2.81 -3.39 -3.35 -2.58 -3.10 -3.56

In [12]:
f = open('data_impurities_features.csv',encoding  = 'UTF-8')
feat = pd.read_csv(f,index_col = 0)
feat

,name,group,bulk wigner-seitz radius,atomic number,atomic mass,period,electronegativity,Iionization energy(eV),H_fus,density
Fe,Iron,8,2.66,26,55.84500,4,1.83,7.9024,247.3,7.87
Co,Cobalt,9,2.62,27,58.93320,4,1.88,7.8810,272.5,8.86
Ni,Nickel,10,2.60,28,58.69340,4,1.91,7.6398,290.3,8.90
Cu,Copper,11,2.67,29,63.54600,4,1.90,7.7264,203.5,8.96
Ru,Ruthenium,8,2.79,44,101.07000,5,2.20,7.3605,381.8,12.10
Rh,Rhodium,9,2.81,45,102.90550,5,2.28,7.4589,258.4,12.40
Pd,Palladium,10,2.87,46,106.42000,5,2.20,8.3369,157.3,12.00
Ag,Silver,11,3.01,47,107.86820,5,1.93,7.5762,104.6,10.50
Ir,Iridium,9,2.84,77,192.21700,6,2.20,8.9670,213.9,22.50
Pt,Platinum,10,2.90,78,195.07800,6,2.20,8.9588,113.6,21.50
Au,Gold,11,3.00,79,196.96655,6,2.40,9.2255,64.6,19.30

In [13]:
feat.head(4)

,name,group,bulk wigner-seitz radius,atomic number,atomic mass,period,electronegativity,Iionization energy(eV),H_fus,density
Fe,Iron,8,2.66,26,55.8450,4,1.83,7.9024,247.3,7.87
Co,Cobalt,9,2.62,27,58.9332,4,1.88,7.8810,272.5,8.86
Ni,Nickel,10,2.60,28,58.6934,4,1.91,7.6398,290.3,8.90
Cu,Copper,11,2.67,29,63.5460,4,1.90,7.7264,203.5,8.96

In [14]:
feat.loc['Co']

name                         Cobalt
group                             9
bulk wigner-seitz radius       2.62
atomic number                    27
atomic mass                 58.9332
period                            4
electronegativity              1.88
Iionization energy(eV)        7.881
H_fus                         272.5
density                        8.86
Name: Co, dtype: object

In [17]:
x = list ()
y = list ()
for i in df.index:
    for j in df.columns:
        vec_i = feat.loc[i].to_numpy()
        vec_j = feat.loc[j].to_numpy()
        x_val = np.concatenate((vec_i,vec_j))
        y_val = df.loc[i][j]
        x.append(x_val)
        y.append(y_val)
        if i == 'Fe' and j == 'Co':
            print('host'+ i + ',guest'+ j +', input = '+ str(x_val) + ', output = '+ str(y_val))

KeyError: 'name'